<ion-content [fullscreen]="true" class="onboarding-content">

  <swiper-container
    #swiper
    class="onboarding-swiper"
    [pagination]="true"
    [allowTouchMove]="true"
    [spaceBetween]="30">

    <!-- Slide 1 -->
    <swiper-slide>
      <div class="slide">
        <div class="image-container">
          <ion-icon name="medical-outline" class="main-icon"></ion-icon>
        </div>
        <h1>{{ ts.translate('onboardingWelcome') }}</h1>
        <p>{{ ts.translate('onboardingWelcomeDesc') }}</p>
      </div>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <div class="slide">
        <div class="image-container">
          <ion-icon name="water-outline" class="main-icon"></ion-icon>
        </div>
        <h1>{{ ts.translate('onboardingLifestyle') }}</h1>
        <p>{{ ts.translate('onboardingLifestyleDesc') }}</p>
      </div>
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide>
      <div class="slide">
        <div class="image-container">
          <ion-icon name="shield-checkmark-outline" class="main-icon"></ion-icon>
        </div>
        <h1>{{ ts.translate('onboardingScreening') }}</h1>
        <p>{{ ts.translate('onboardingScreeningDesc') }}</p>
        <ion-button expand="block" size="large" class="start-btn" (click)="startApp()">
          {{ ts.translate('getStarted') }}
        </ion-button>
      </div>
    </swiper-slide>

  </swiper-container>

  <ion-button fill="clear" class="skip-btn" (click)="startApp()">
    {{ ts.translate('skip') }}
  </ion-button>

</ion-content>
