<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Health Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Header -->

  <div class="header-section">

    <h2>Daily Health Tracker</h2>

    <p>
      Monitor your daily healthy habits to maintain optimal kidney health.
    </p>

  </div>

  <!-- Water Intake -->

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        💧 Water Intake
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <h1>{{ water }} ml</h1>

      <p>Target: {{ waterTarget }} ml</p>

      <ion-progress-bar
        [value]="waterProgress">
      </ion-progress-bar>

      <ion-button
        expand="block"
        class="tracker-btn"
        (click)="addWater()">

        Add Water

      </ion-button>

    </ion-card-content>

  </ion-card>

  <!-- Exercise -->

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        🚶 Exercise
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <h1>{{ exercise }} min</h1>

      <p>Daily Target: {{ exerciseTarget }} minutes</p>

      <ion-progress-bar
        color="success"
        [value]="exerciseProgress">
      </ion-progress-bar>

      <ion-button
        expand="block"
        color="success"
        class="tracker-btn"
        (click)="addExercise()">

        Add Exercise

      </ion-button>

    </ion-card-content>

  </ion-card>

  <!-- Sleep -->

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        😴 Sleep
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <h1>{{ sleep }} Hours</h1>

      <p>Recommended: {{ sleepTarget }} Hours</p>

      <ion-progress-bar
        color="warning"
        [value]="sleepProgress">
      </ion-progress-bar>

      <ion-button
        expand="block"
        color="warning"
        class="tracker-btn"
        (click)="updateSleep()">

        Update Sleep

      </ion-button>

    </ion-card-content>

  </ion-card>

  <!-- Blood Pressure -->

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        ❤️ Blood Pressure
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <h1>{{ systolic }} / {{ diastolic }}</h1>

      <p>{{ bloodPressureText }}</p>

      <ion-chip [color]="bloodPressureStatus === 'Healthy' ? 'success' : 'danger'">

        {{ bloodPressureStatus }}

      </ion-chip>

    </ion-card-content>

  </ion-card>

  <!-- Weight -->

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        ⚖️ Body Weight
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <h1>{{ weight }} kg</h1>

      <p>Body Mass Index: {{ bmi }}</p>

      <ion-button
        expand="block"
        fill="outline"
        (click)="updateWeight()">

        Update Weight

      </ion-button>

    </ion-card-content>

  </ion-card>

  <br><br>

</ion-content>